<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicar descuento</title>
</head>
<body>
    <form th:action="@{/facturas/{rol}/{id}/aplicarDescuento(rol=${rol}, id=${id})}" th:object="${factura}" method="post">
        <label for="monto">Nuevo valor:</label>
        <input type="number" id="monto" name="valor" step="0.01" min="1" th:field="*{valor}" required />

        <label for="facturaafectada">Factura afectada:</label>
        <select id="facturaafectada" name="facturaafectada" required>
            <option th:each="factura : ${facturas}" th:value="${factura.id}" th:text="${factura.id}"></option>
        </select>

        <button type="submit">Confirmar</button>
    </form>
</body>
</html>
