<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portal de Pagos</title>
</head>
<body>
    <h1>Bienvenido al Portal de Pagos</h1>
    <p>Haz iniciado sesión como: <strong th:text="${rol}"></strong></p>
    <p>Estás Autenticado Correctamente ! <strong th:text="${rol}"></strong></p>

    <div th:if="${rol == 'ResponsableEconomico'}">
        <form th:action="@{/facturas/{rol}/{id}(rol=${rol}, id=${id})}" method="get">
            <button type="submit">Consultar Facturas de mis hijos</button>
        </form>
    </div>

    <div th:if="${rol == 'GestorContable'}">
        <form th:action="@{/facturas/{rol}/{id}(rol=${rol}, id=${id})}" method="get">
            <button type="submit">Consultar Facturas de mi institucion</button>
        </form>
    </div>


    <div th:if="${rol == 'AdministradorOfipensiones'}">
        <form th:action="@{/facturas/{rol}/{id}(rol=${rol}, id=${id})}" method="get">
            <button type="submit">Consultar todas las facturas</button>
           
        </form>

        <form th:action="@{/facturas/{rol}/{id}/aplicarDescuento(rol=${rol}, id=${id})}" method="get">
            <button type="submit">Aplicar descuento a factura</button>
           
        </form>

    </div>

</body>
</html>
